@import "tailwindcss";

:root {
	--foreground: oklch(0.141 0.005 285.823);
}

@custom-variant hocus {
  &:is(:hover, :focus-within) {
    @slot;
  }
}

@theme inline {
	--font-sans: "Funnel Display", sans-serif;
	--color-foreground: var(--foreground);
	--color-foreground-muted: oklch(0.141 0.005 285.823 / 0.5);
	--animate-hue-shift: hue-shift 3s linear infinite;
	--shadow-2xl: 0px 32px 32px -16px rgba(0, 0, 0, 0.05), 0px 16px 16px -8px rgba(0, 0, 0, 0.05), 0px 8px 8px -4px rgba(0, 0, 0, 0.05), 0px 4px 4px -2px rgba(0, 0, 0, 0.05), 0px 2px 2px -1px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
	--shadow-xl:  0px 16px 16px -8px rgba(0, 0, 0, 0.05), 0px 8px 8px -4px rgba(0, 0, 0, 0.05), 0px 4px 4px -2px rgba(0, 0, 0, 0.05), 0px 2px 2px -1px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
	--shadow-lg:  0px 8px 8px -4px rgba(0, 0, 0, 0.05), 0px 4px 4px -2px rgba(0, 0, 0, 0.05), 0px 2px 2px -1px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
	--shadow-input: 0px 0px 0px 1px rgba(0,0,0,0.1), 0px 1px 1px 0px rgba(0,0,0,0.10), 0px 4px 8px -4px rgba(0,0,0,0.07);
	--shadow-input-hover: 0px 0px 0px 1px rgba(0,0,0,0.3), 0px 1px 1px 0px rgba(0,0,0,0.07), 0px 4px 8px -4px rgba(0,0,0,0.07);
	--shadow-input-invalid: 0px 1px 1px 0px #fb718530, 0px 0px 0px 1px #fecdd3;
	--spacing-window: 1024px;
	--color-input: transparent;
}


@layer base {
	input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
		background-clip: text;
  }
}


@layer components {
	body {
		@apply m-0 font-sans antialiased text-foreground;
	}
	/* .hidden-scrollbar {
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	} */

	.shiny-button {
		background-image: linear-gradient(
				in oklch longer hue to right,
				oklch(0.93 0.08 var(--hue1) / 80%),
				oklch(0.93 0.08 var(--hue2) / 80%)
			),
			linear-gradient(
				in oklch longer hue to bottom,
				oklch(0.93 0.08 var(--hue1) / 80%),
				oklch(0.93 0.08 var(--hue2) / 80%)
			);
		background-size: 100% 100%;
		box-shadow:
			inset 0px 8px 8px 0px #ffffff50,
			inset 0px -16px 16px 0px #ffffff40,
			inset 0px -1px 1px 0px #ffffff40,
			inset 0px 0px 0px 1px #ffffff70,
			0px 0px 0px 1px #00000020;
	}
	.mask-border {
		mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
		mask-composite: exclude;
	}

	.hidden-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.hidden-scrollbar::-webkit-scrollbar {
		display: none;
	}
}
@property --hue1 {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@property --hue2 {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@keyframes hue-shift {
	0% {
		--hue1: 0deg;
		--hue2: 300deg;
	}
	100% {
		--hue1: 360deg;
		--hue2: 660deg;
	}
}
